{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Hobbies</h1>
    <div class="row justify-content-center">
        <!-- First Card -->
        <div class="col-md-4 mb-4">
            <a href="#" data-toggle="modal" data-target="#placesModal" class="card-link">
                <div class="card shadow-sm">
                    <img src="{{ url_for('static', filename='images/photos/places/01-harris-sunset.jpg') }}" alt="Landscape photography from the Pacific Northwest and beyond" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Places</h5>
                        <p class="card-text">Landscape photography from the Pacific Northwest and my travels beyond.</p>
                    </div>
                </div>
            </a>
        </div>
        
        <!-- Second Card -->
        <div class="col-md-4 mb-4">
            <a href="#" data-toggle="modal" data-target="#peopleModal" class="card-link">
                <div class="card shadow-sm">
                    <img src="{{ url_for('static', filename='images/photos/people/01-justin.jpg') }}" alt="Portraits of people I've met along the way" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">People</h5>
                        <p class="card-text">Some pictures of people I've met along the way.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Places Modal -->
<div class="modal fade" id="placesModal" tabindex="-1" aria-labelledby="placesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="placesModalLabel">Places Gallery</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Large Image -->
                <div class="large-image-container text-center mb-3">
                    <img src="" id="largeImagePlaces" class="large-image img-fluid">
                </div>
                <!-- Thumbnails -->
                <div class="thumbnail-slider">
                    {% for image in images_places %}
                    <div>
                        <img src="{{ url_for('static', filename='images/photos/places/' + image) }}" class="img-thumbnail" data-large="{{ url_for('static', filename='images/photos/places/' + image) }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- People Modal -->
<div class="modal fade" id="peopleModal" tabindex="-1" aria-labelledby="peopleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="peopleModalLabel">People Gallery</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Large Image -->
                <div class="large-image-container text-center mb-3">
                    <img src="" id="largeImagePeople" class="large-image img-fluid">
                </div>
                <!-- Thumbnails -->
                <div class="thumbnail-slider d-flex justify-content-start">
                    {% for image in images_people %}
                    <div class="p-2">
                        <img src="{{ url_for('static', filename='images/photos/people/' + image) }}" class="img-thumbnail img-thumbnail-slider" data-large="{{ url_for('static', filename='images/photos/people/' + image) }}">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        console.log('Script loaded');  // Debug print

        $('#placesModal').on('show.bs.modal', function (event) {
            console.log('Places modal opened');  // Debug print
            var modal = $(this);
            var firstImage = modal.find('.img-thumbnail-slider').first().data('large');
            console.log('First image:', firstImage);  // Debug print
            modal.find('#largeImagePlaces').attr('src', firstImage);
        });

        $('#peopleModal').on('show.bs.modal', function (event) {
            console.log('People modal opened');  // Debug print
            var modal = $(this);
            var firstImage = modal.find('.img-thumbnail-slider').first().data('large');
            console.log('First image:', firstImage);  // Debug print
            modal.find('#largeImagePeople').attr('src', firstImage);
        });

        // Event delegation for dynamically loaded content
        $(document).on('click', '.img-thumbnail-slider', function() {
            var largeImageSrc = $(this).data('large');
            console.log('Thumbnail clicked, large image src:', largeImageSrc);  // Debug print
            
            // Determine which modal is currently open
            var modal = $(this).closest('.modal');
            if (modal.attr('id') === 'placesModal') {
                modal.find('#largeImagePlaces').attr('src', largeImageSrc);
            } else if (modal.attr('id') === 'peopleModal') {
                modal.find('#largeImagePeople').attr('src', largeImageSrc);
            }
        });
    });
</script>
{% endblock %}




