{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Career</h1>
    <div class="row justify-content-center">
        
        <!-- Job 1 -->
        <div class="col-md-8 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2>2019-Present</h2>
                        <p class="resume-company"><i class="fa fa-building" aria-hidden="true"></i> Venafi</p>
                    </div>
                    <h3>Sr. Ecosystem Architect</h3>
                    <p>I am responsible for building and maintaining relationships with technology partners and supporting integration development. I am also responsible for the development of technical content for the Venafi Partner Program.</p>
                </div>
            </div>
        </div>
        
        <!-- Job 2 -->
        <div class="col-md-8 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2>2018-2019</h2>
                        <p class="resume-company"><i class="fa fa-building" aria-hidden="true"></i> Thales e-Security</p>
                    </div>
                    <h3>Global BD Solutions Engineer</h3>
                    <p>I provided technical support to Business Development managers on a global level. It was my responsibility to facilitate successful product integration and manage the technical relationship between Thales and its Partners.</p>
                </div>
            </div>
        </div>

        <!-- Job 3 -->
        <div class="col-md-8 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2>2015-2018</h2>
                        <p class="resume-company"><i class="fa fa-building" aria-hidden="true"></i> Thales eSecurity (formerly Vormetric)</p>
                    </div>
                    <h3>Solutions Architect, Professional Services</h3>
                    <p>As a Solutions Architect, it was my responsibility to ensure successful customer deployments. From the planning stage to the health-check a year later, I was often a customer's main point of contact for guidance.</p>
                </div>
            </div>
        </div>
        <!-- Job 4 -->
        <div class="col-md-8 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2>2015-2018</h2>
                        <p class="resume-company"><i class="fa fa-building" aria-hidden="true"></i> Speedline Solutions</p>
                    </div>
                    <h3>Installation & Training Specialist</h3>
                    <p>As an Installation & Training Specialist, I implemented point of sale software on both new and existing hardware based on clients' needs and goals. This included installing and configuring computer and networking hardware, as well as providing on-site training to ensure that clients and store employees had the necessary knowledge to use the product effectively. Prior to an installation, I connected with clients to schedule on-site visits, built graphical versions of restaurant menus, and configured custom store settings for daily use.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
