<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% if config['DEBUG'] %}
        <script src="http://localhost:35729/livereload.js?snipver=1"></script>
    {% endif %}
</head>
<body>
    <div class="wrapper">
        <header class="bg-dark text-white text-center p-4">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Paul Cleary</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('resume') }}">Resume</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('hobbies') }}">Hobbies</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="my-4">
            {% block content %}{% endblock %}
        </main>
        <footer class="bg-dark text-white text-center p-4">
            <a href="https://www.linkedin.com/in/paulmcleary/" target="_blank" class="text-white"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
            <a href="https://github.com/paulternate/" target="_blank" class="text-white"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
            <p>&copy; 2024 Paul Cleary</p>
        </footer>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
