{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">Test</h1>
    <div class="row">
        <!-- Left Column: Job Experience (2/3 width) -->
        <div class="col-md-8">
            <!-- Job 1 -->
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2>2019-Present</h2>
                        <p class="resume-company"><i class="fa fa-building" aria-hidden="true"></i> Venafi</p>
                    </div>
                    <h3>Sr. Ecosystem Architect</h3>
                    <p>I am responsible for building and maintaining relationships with technology partners and supporting integration development. I am also responsible for the development of technical content for the Venafi Partner Program.</p>
                </div>
            </div>
            
            <!-- Job 2 -->
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2>2018-2019</h2>
                        <p class="resume-company"><i class="fa fa-building" aria-hidden="true"></i> Thales e-Security</p>
                    </div>
                    <h3>Global BD Solutions Engineer</h3>
                    <p>I provided technical support to Business Development managers on a global level. It was my responsibility to facilitate successful product integration and manage the technical relationship between Thales and its Partners.</p>
                </div>
            </div>

            <!-- Job 3 -->
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2>2015-2018</h2>
                        <p class="resume-company"><i class="fa fa-building" aria-hidden="true"></i> Thales eSecurity (formerly Vormetric)</p>
                    </div>
                    <h3>Solutions Architect, Professional Services</h3>
                    <p>As a Solutions Architect, it was my responsibility to ensure successful customer deployments. From the planning stage to the health-check a year later, I was often a customer's main point of contact for guidance.</p>
                </div>
            </div>

            <!-- Job 4 -->
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h2>2015-2018</h2>
                        <p class="resume-company"><i class="fa fa-building" aria-hidden="true"></i> Speedline Solutions</p>
                    </div>
                    <h3>Installation & Training Specialist</h3>
                    <p>As an Installation & Training Specialist, I implemented point of sale software on both new and existing hardware based on clients' needs and goals. This included installing and configuring computer and networking hardware, as well as providing on-site training to ensure that clients and store employees had the necessary knowledge to use the product effectively. Prior to an installation, I connected with clients to schedule on-site visits, built graphical versions of restaurant menus, and configured custom store settings for daily use.</p>
                </div>
            </div>
        </div>

        <!-- Right Column: Skills and Software Used (1/3 width) -->
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h3 class="text-center" style="font-size: 1.2rem; color:aliceblue">Traits & Skills</h3>
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <h5 style="font-size: 0.85rem; color: #777;">Problem Solving</h5>
                            <div class="skill-level">
                                <span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="half-filled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span>
                            </div>
                        </li>
                        <li class="mb-3">
                            <h5 style="font-size: 0.85rem; color: #777;">Adaptable</h5>
                            <div class="skill-level">
                                <span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="unfilled-pill"></span>
                            </div>
                        </li>
                        <li class="mb-3">
                            <h5 style="font-size: 0.85rem; color: #777;">Analytical</h5>
                            <div class="skill-level">
                                <span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="half-filled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span>
                            </div>
                        </li>
                        <li class="mb-3">
                            <h5 style="font-size: 0.85rem; color: #777;">Communication</h5>
                            <div class="skill-level">
                                <span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="half-filled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span>
                            </div>
                        </li>
                        <li class="mb-3">
                            <h5 style="font-size: 0.85rem; color: #777;">Organization & Multi-Project Management</h5>
                            <div class="skill-level">
                                <span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="half-filled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span>
                            </div>
                        </li>
                        <li class="mb-3">
                            <h5 style="font-size: 0.85rem; color: #777;">Technical Diagramming & Writing</h5>
                            <div class="skill-level">
                                <span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="half-filled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span>
                            </div>
                        </li>
                        <li class="mb-3">
                            <h5 style="font-size: 0.85rem; color: #777;">Graphic Design</h5>
                            <div class="skill-level">
                                <span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="half-filled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span>
                            </div>
                        </li>
                        <li class="mb-3">
                            <h5 style="font-size: 0.85rem; color: #777;">E2E Content Creation</h5>
                            <div class="skill-level">
                                <span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="half-filled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span>
                            </div>
                        </li>
                        <li class="mb-3">
                            <h5 style="font-size: 0.85rem; color: #777;">PKI Strategy</h5>
                            <div class="skill-level">
                                <span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="filled-pill"></span><span class="half-filled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span><span class="unfilled-pill"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h3 class="text-center" style="font-size: 1.2rem; color:aliceblue;">Software Used</h3>
                    <div class="row">
                        <div class="col-6">
                            <ul class="list-unstyled" style="font-size: 0.85rem; color: #777;">
                                <li>AWS</li>
                                <li>Kubernetes</li>
                                <li>Git</li>
                                <li>Terraform</li>
                                <li>Vault</li>
                                <li>Tableau</li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled" style="font-size: 0.85rem; color: #777;">
                                <li>Postman</li>
                                <li>Snowflake</li>
                                <li>Adobe Suite</li>
                                <li>Confluence/Jira</li>
                                <li>Notion</li>
                                <li>Microsoft Office</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
